doctype html 
html 
    head 
    title Send Message! 
    body 
        #container 
            form(action='/create' method='POST')
                h1 Send Message! 
                label Username: 
                input(type='text' name='username')
                label Message: 
                input(type='text' name='message')
                input(type= 'submit' value='Submit')

        a(href="/") Home